/*@groop general styles*/
*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    line-height: 1.75em;
    overflow: -moz-scrollbars-vertical;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    min-height: 100%;
}
a{
    color: #040404;
    outline: medium none !important;
}
button.btn.bg-theme,a.bg-theme{
    color: white;
}
a:hover{
    text-decoration: none;
    color:#FD9271;
}
a.btn.bg-theme:hover,button.btn.bg-theme:hover{
    color:white;
    background-color: #FD7A65;
}
/*自定义的字体*/
.self-font {
    font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK",
    "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", serif;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto 3em auto;
}
.inline_block{
    display: inline-block;
}
/*网站的主题颜色*/
.theme-color {
    color: #FD9271;
}
.deep-color{
    color: #FD7A65;
}
.green-color{
    color: #96CC75;
}
.black-color{
    color:black;
}
.blue-color{
    color: #59b0ff;
}
.white-color{
    color: white;
}
/*背景色*/
.bg-theme {
    background-color: #FD9271;
}
.bg-green{
    background-color: #96CC75;
}
.bg-white{
    background-color: white;
}
.bg-gray{
    background-color: #ebebeb;
}
/*边框圆角*/
.block-radius{
    border-radius: 5px;
}
.container_to_top{
    margin-top: 30px;
}
.mas_min_height{
    min-height: 1000px;
}
.user_min_height{
    min-height: 800px;
}
/*缩进*/
.ht_indent{
    padding-left: 2em;
}