/*@groop general styles*/
*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    line-height: 1.75em;
    overflow: -moz-scrollbars-vertical;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color:#f4645f;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto 3em auto;
}
.inline_block{
    display: inline;
}
.inline_div{
    display: inline-block;
}
/*footer style*/
footer.page_footer {
    font-size: 13px;
    color: #555555;
    padding-top: 20px;
    height: 80px;
    background-color: #d9d9d9;
    z-index: 1000;
}
footer.page_footer span {
    margin: 0.5em;
}
footer.page_footer a {
    color: #555555;
}
footer.page_footer p{
    margin-top: 10px;
}
/*自定义的字体*/
.self-font {
    font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK",
    "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", serif;
}
/*feedback and Go-top*/
.fixed-bar {
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10000;
    margin: 0;
    padding: 0;
}
.fixed-bar li{
    margin: 0;
    padding: 0;
    height: 52px;
    width: 50px;
    background-color: white;
    border: 1px solid #dddddd;
    list-style: none;
    transition: all 0.5s ease 0s;
}
.fixed-bar li:hover{
    border-color:#f4645f;
    cursor: pointer;
}
.fixed-bar li.go-top{
    margin-top: -1px;
}
.fixed-bar li.go-top a:hover,a:active, a:focus, a:visited{
    text-decoration: none;
    outline: none;
}
.fixed-bar li .hz-icon{
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    display: block;
    color: #999;
    font-size: 25px;
}
.fixed-bar .fixed-bar-text{
    line-height: 1.2em;
    display: none;
    color: #fff;
    padding: 7px 10px;
    font-size: 14px;
}

/*网站的主题颜色*/
.theme-color {
    color: #f4645f;
}
.theme-bg-color {
    background-color: #f4645f;
}
.self-btn-danger {
    background-color: #f4645f;
}
.green-bg-color{
    background-color: #96cc75;
}
.green-color{
    color: #008000;
}
.black-color{
    color:black;
}
.blue-color{
    color: #59b0ff;;
}
.white-color{
    color: white;
}
.blue-color{
    color: #59b0ff;;
}
/*白色背景*/
.bg-white{
    background-color: white;
}
/*灰色背景*/
.bg-gray{
    background-color: #ebebeb;
}
/*边框圆角*/
.block-radius{
    border-radius: 5px;
}
.container_to_top{
    margin-top: 100px;
}
.txt_center{
    text-align: center;
}
.hty_a{
    color: #337ab7;
}
.mas_min_height{
    min-height: 1000px;
}
.user_min_height{
    min-height: 800px;
}
/*缩进*/
.ht_indent{
    padding-left: 2em;
}
.gen_font_size{
    font-size: 14px;
}
.position_relative{
    position: relative;
}
