/*主页*/
.main_jumptron {
    margin-bottom: 30px;
    position: relative;
}

.main_jumptron_img {
    position: relative;
    width: 100%;
}

.main_jumptron .jumptron_logo {
    position: absolute;
    right: 500px;
    top: 30px;
    width: 360px;
    height: 332px;
    color: #FFF;
    z-index: 99;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.jinbang_num {
    padding: 30px 40px 10px 40px;
}

.bang_num span {
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    border-radius: 6px;
    padding: 30px 10px;
    background-color: #FFF;
    color: #FD9271;
    font-size: 64px;
    box-shadow: 0 1px 1px rgba(180, 180, 180, 0.59), 0 1px 1px rgba(194, 194, 194, 0.38) inset;
    box-sizing: border-box;
}
.join-contest {
    padding: 10px 0;
    text-align: center;
}
.take_in_num {
    color: #FD9271;
    font-size: 20px;
    margin: 0 5px;
}
.take_in {
    background-color: #FD9271;
    padding: 10px 100px;
    color: #FFF;
    font-size: 16px;
    border-color: #FF957C;
}
a.take_in:hover, a.take_in:active, a.take_in:visited {
    color: white;
}
a.take_in:hover{
    -moz-transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
}
.index-thumbnail {
    height: 400px;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%)
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%)
}

.carousel_style {
    max-height: 200px;
}
.register_input {
    padding-bottom: 0.5em;
}
/*顶部导航*/
.header {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.055);
    position: relative;
    border-bottom: 1px solid #DFDFDF;
    max-height: 70px;
}
.header a {
    color: #666;
}

.header .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
/*网站标识*/
.header .navbar-brand {
    display: block;
    padding: 10px 10px;
    max-width: 110px;
}
/*顶部网站导航*/
.top-menu.navbar-nav > li > a {
    padding: 20px 25px;
    font-size: 16px;
    transition: color 0.3s ease 0s, background 0.3s ease 0s;
}

/*顶部用户网页导航*/
.navbar-login {
    padding: 15px 20px;
}

.navbar-login a {
    padding: 10px 10px;
    font-size: 16px;
}

.nav.user-nav {
    position: relative;
}

.nav.user-nav > li {
    height: 70px;
    float: left;
    padding-top: 10px;
}
.nav.user-nav li a.add-in-btn {
    padding: 6px 12px;
    border-radius: 15px;
    color: #FD9271;
    border-color: #FD9271;
    margin-top: 10px;
    margin-left: 20px;
}

.btn.com:hover, .btn.com:active, .btn.com:focus {
    background: #FD9271 none repeat scroll 0% 0% !important;
    color: #FFF !important;
}

.nav.user-nav li.user-img > a img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user-img:hover img {
    border: 2px solid #C0F0E0 !important;
}

.user-msg > a {
    font-size: 16px;
}

.nav.user-nav > li > a:hover, .nav.user-nav > li > a:focus, .nav.user-nav > li.user-img > a:visited {
    color: #FD9271;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.user-nav-dropdown .dropdown-menu {
    margin: 0;
    border: medium none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background: #FFF none repeat scroll 0% 0%;
    left: auto;
    right: auto;
}

.avatar-dropdown-menu li, .msg-dropdown-menu li {
    position: relative;
    border-bottom: 1px solid #eee;
}
.user-nav-dropdown .dropdown-menu{
    min-width: 120px;
}
.user-nav-dropdown .dropdown-menu > li > a span {
    width: 25px;
    padding: 0;
}

.user-msg > a{
    margin-top: 8px;
}
.dropdown.user-img li a:hover, .dropdown.user-msg li a:hover {
    color: #FD9271;
    background: transparent;
}

.user-nav-dropdown .dropdown-menu > li > a {
    padding: 15px 25px !important;
    color: #616161;
}
.web-info-section {
    position: relative;
}

.web-info-section h3 {
    font-size: 22px;
}

a.index-info-box {
    background-color: #fff;
    height: 250px;
    max-width: 350px;
    padding: 3px 20px;
    position: relative;
    text-align: center;
    display: block;
}

a.index-info-box:hover span {
    color: #FD9271;
}

.index-info-box span {
    display: block;
    font-size: 14px;
    color: #808080;
}

.info-box-img {
    position: absolute;
    bottom: 0;
    z-index: 20;
}

.info-box-img-2 {
    right: 90px;
}

.info-box-img-3 {
    right: 90px;
}

.index-section {
    margin-top: 50px;
}
.index-section-header{
    padding-top: 60px;
    margin-bottom: 30px;
}
.index-section-content.index-section-1{
    margin-top: 60px;
}
div.header-div{
    position: relative;
    z-index: 10;
}
div.header-div>span{
    padding: 0 50px;
    color: #333;
    box-sizing: content-box;
    background-color: #FFF;
    font-size: 30px;
}
div.header-div>p{
    color: #666;
    margin-top: 10px;
}
.index-section-content{
    padding: 0 20px;
}
.index-section .index-section-header .help-line{
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background-color: #CCC;
    z-index: -10;
}
caption.caption-jinbang{
    border: solid #fbd01f;
    font-size: 18px;
    color: #fff;
    background-color: #FD9271;
    padding: 10px 10px;
    text-align: center;
}
caption.caption-yinbang{
    border: solid #c9cacc;
    font-size: 18px;
    color: #fff;
    background-color: #FD9271;
    padding: 10px 10px;
    text-align: center;
}
/*vip购买页面*/
.vip_price_body {
    background-color: #e2e2e2;
    background-size: cover;
    background-repeat: no-repeat;
}

#vip_price h1.slogan {
    margin: 100px auto 150px auto;
    color: #f4645f;
    font-size: 50px;
    text-shadow: 3px 3px 5px #cccccc;
}

#vip_price div.box {
    height: 400px;
    width: 280px;
    background-color: #f4645f;
    border: solid 5px #f4645f;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #aaaaaa;
}

#vip_price div.box .content {
    height: 321px;
    background-color: white;
    border-radius: 5px;

}

#vip_price .box .vip_category h3 {
    color: white;
    font-size: 35px;
}

#vip_price .box .price_box {
    height: 150px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #c5c5c5;
}

#vip_price .box .price_box .price {
    display: inline-block;
    font-size: 50px;
    margin: 10px;
}

#vip_price .box .price_box .price small {
    font-size: 18px;
    float: left;
    margin-top: 10px;
}

#vip_price .box .price_box .duration {
    font-size: 18px;
    width: 100px;
    margin: 0 auto 10px auto;
    background-color: #e8e8e8;
    padding: 3px;
    border-radius: 50px;
}

#vip_price .box .price_box .pay.btn {
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    background-color: #f4645f;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: -20px;
}

#vip_price .box ul.features {
    background-color: white;
    list-style: none;
    margin: 50px auto 0 30px;
    text-align: left;
}

#vip_price .box ul.features i {
    color: #f4645f;
    margin-right: 10px;
}

/*右侧边栏*/
.side-bar .widget {
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.side-bar .widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 21px;
    position: relative;
}

.side-bar .widget.hot-topics .content ul {
    padding-left: 0;
    list-style-type: none;
}

.side-bar .widget.hot-topics .content ul li {
    padding-bottom: 10px;
}

/*问答对样式*/
.q_a_container {
    padding: 10px 30px;
}

.q_a_span {
    border: 1px solid #96cc75;
    background-color: #96cc75;
    padding: 4px;
    color: white;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.q_a .q_a_question {
    line-height: 150%;
}

.q_a_hr {
    margin-bottom: 30px;
    margin-top: 40px;
}

.q_a_footer span {
    margin-right: 50px;
    float: right;
    font-size: 14px;
}

.q_a .q_a_answer {
    font-size: 16px;
    color: #929292;
    margin-top: 10px;
}

.q_a_footer {
    background-color: transparent;
}

/*提问的模态框样式*/
#question_modal div.modal-body {
    padding: 0;
}

#question_modal div.panel {
    margin: 0;
}

#question_modal #my_question {
    width: 100%;
    border: none;
}

/*理财师主页内容板块样式*/
.master_homepage_container {
    margin-top: 50px;
}

.sub_nav {
    margin: 10px auto 15px 10px;
    padding: 10px;
    font-size: 18px;
}

div.master_view header h4 {
    font-size: 22px;
    margin-top: 0;
}

div.master_view section {
    font-size: 15px;
    color: #7a7a7a;
    line-height: 160%;
}

.qu_hr {
    height: 20px;
    background-color: #f3f3f3;
    margin: 5px 0;
}

.key_word {
    font-size: 12px;
    background: #f3f3f3;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    padding: 3px 10px;
    color: #666;
}

.qu_btn {
    background: #a0d56d;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    float: right;
}

.qu_time {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.qu_time .questioner {
    color: #428bca;
    margin-left: 5px;
}

.qu_line_height {
    line-height: 35px;
}

.ta {
    color: #808080;
    padding: 8px;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid #ccc;
    overflow: auto;
}

.qu_margin {
    margin-top: 20px;
}

.publish_btn {
    height: 50px;
}

.publish_btn button {
    float: right;
}

.free_charge {
    border: 1px solid #ccc;;
    padding: 20px;
}

.panel_body_div {
    padding: 20px 50px;
}

.opinion_category {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #F5F5F5;
    color: #999;
}

.opinion_category select {
    padding: 2px;
    border: solid 1px #ccc;
    width: 150px;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
}

.opinion_list {
    padding: 10px 30px;
}

.view_footer span {
    margin-right: 20px;
    font-size: 14px;
}

.view_footer .edit_view{
    color: #f4645f;
    float: right;
    margin-right: 10px;
}
.pages{
    display: inline-block;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}
.pages a{
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #f4645f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pages a.current{
    background-color: #e8e8e8;
}
.sop_header{
    text-align: center;
    padding: 92px 0 42px 0;
    color: #fff;
    margin-bottom: 30px;
}
.sop_header h1{
    font-size: 3em;
}
.sop_article article{
    padding: 35px;
}
.sop_article article .sop-author{
    margin: 0 20px;
}
.sop_article article .sop-meta{
    color: #959595;
    margin: 14px 0 0;
    text-align: center;
}
.sop_article .sop-content {
    margin: 20px 0;
}
.sop_article footer{
    border-top: 1px solid #ebebeb;
    padding: 20px 0 0 0;
}
.sop_article footer button{
    float: right;
    margin-left: 20px;
}
.set_price{
    padding: 30px 20px;
}
.master_avatar_box{
    height: 100px;
    width: 100px;
}
.qa_his_height{
    max-height: 800px;
    overflow: auto;
    padding: 0 20px;
}
.alert_info{
    text-align: center;
    margin: 50px 0;
}
.question_label{
    float: left;
}
.question_label label{
    margin-right: 15px;
}
/*stocks*/
.sub_navigation{
    border-top: 1px solid #ebebeb;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 20px;
}
.stocks_menu{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}
.stocks_menu li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.stocks_menu li a{
    padding: 0 21px;
    line-height: 4em;
    color: #effdff;
    font-size: 16px;
    text-shadow: 1px 1px 0.8em #222222;
}
.stocks_menu li a:link, a:visited, a:active{
    text-decoration: none;
}
.nav_current{
    border-bottom: 2px solid #f4645f;
    margin-bottom: -2px;
}
.stocks_min_h{
    min-height: 1000px;
}
.sel_pill{
    border: solid 1px #ebebeb;
}
.simulate_panel{
    padding: 10px 40px;
}
.tab_header{
    margin-bottom: 40px;
}
ul.simulate_tablist{
    padding: 20px 20px 0 20px;
}
ul.simulate_tablist li{
    list-style: none;
    display: inline-block;
    border: none;
}
ul.simulate_tablist li a{
    width: 100%;
    height: 100%;
    padding:10px 25px;
    line-height: 2.5em;
    border: 1px solid #548294;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 0.05em #548294;
    margin-right: 20px;
    transition: all 0.2s;
}
ul.simulate_tablist li a:hover{
    background-color: #548294;
    color: white;
    text-shadow: 1px 1px 0.8em #000;
}
.active_a_item {
    background-color: #548294;
    color: white;
    text-shadow: 1px 1px 0.8em #000;
}
.margin_to_top{
    margin-top: 30px;
}
.margin_to_bottom{
    margin-bottom: 30px;
}
.buy_stock_btn{
    float: right;
}
.navbar-not-fixed{
    margin-bottom: 0;
}
.bond_code_div{
    position: relative;
}
.hint_list{
    border: 1px solid #dedede;
    color: #555;
    position: absolute;
    z-index: 1000;
    width:  85%;
    opacity: 0.9;
    background-color: white;
    display: none;
}
.hint_active{
    background-color: #99cfff;
}
#bond_code option{
    margin-bottom: 5px;
}
.warning_bg_color{
    background-color: #FCF8E3;}
.border_none{
    border: none;
}
.warehouse{
    margin-top: 50px;
}
#graph_modal_body{
    padding-top: 5px;
}
.asset_detail{
    height: 400px;
    padding: 10px;
    padding-top: 20px;
}
#assets_form .form-group{
    margin-bottom: 0;
}
#assets_form .align_left{
    padding-left: 0;
}
#perform_canvas{
    height: 450px;
}
#pie_canvas{
    height: 300px;
    padding-top: 50px;
}
#profit_table{
    margin: auto 50px;
}
.rank_table{
    margin: 0 20px;
}
tr.rank_thead th{
    text-align: center;
}
.table_left{
    text-align: left;

}
.table_right{
    text-align: right;
}
.plaque{
    margin: 0 10px 15px 10px;
    height: 70px;
}
.plaque p{
    font-size: 40px;
    top: 12px;
    position: relative;
}
#ranking_sidebar .list-group-item.active,
#ranking_sidebar .list-group-item.active:focus,
#ranking_sidebar .list-group-item.active:hover {
    z-index: 2;
    color: #FFF;
    background-color: #396D81;
    border-color: #315568;
}
.flow-sidebar.affix,
.flow-sidebar.affix-top,
.flow-sidebar.affix-bottom {
    width: 160px;
}
.flow-sidebar.affix {
    position: fixed;
    top: 20px;
}
.flow-sidebar.affix-bottom {
    position: absolute;
}
.flow-sidebar.affix-bottom,
.flow-sidebar.affix {
    margin-top: 0;
    margin-bottom: 0;
}


